{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8">
<title>HomeBakers</title>
{{! Search Engine }}
<meta name="description" content="HomeBakers">
<meta name="image" content="https://user-images.githubusercontent.com/3103241/68910612-49a5f580-0707-11ea-96b6-a87b8b0776bb.png">
{{! Schema.org for Google }}
<meta itemprop="name" content="HomeBakers">
<meta itemprop="description" content="HomeBakers">
<meta itemprop="image" content="https://user-images.githubusercontent.com/3103241/68910612-49a5f580-0707-11ea-96b6-a87b8b0776bb.png">
{{! Open Graph general (Facebook, Pinterest & Google+) }}
<meta property="og:title" content="HomeBakers">
<meta property="og:description" content="HomeBakers">
<meta property="og:image" content="https://user-images.githubusercontent.com/3103241/68910612-49a5f580-0707-11ea-96b6-a87b8b0776bb.png">
<meta property="og:url" content="https://homebakers.com">
<meta property="og:site_name" content="HomeBakers">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
